@model IEnumerable<VetAB.Models.Product>

@{
    ViewData["Title"] = "Tjänster";
}

<h1>Våra tjänster</h1>
<div class="container">
   <div class="row">
      @if(Model != null) {
            foreach(var item in Model) {
         <div class="col-4">
               @if(item.ImageName != null)
               {
                  <img class="card-img-top" src="/images/@item.ImageName" alt="">
               }
            <div class="card-body">
                <h5 class="card-title">@item.Name</h5>
                <p class="card-text">@item.Description</p>
                <a class="btn btn-primary" asp-action="Details" asp-route-id="@item.Id">Läs mer</a>
            </div>
         </div>
            }
      }
   </div>
</div>

@if(User.IsInRole("Administrator") || User.IsInRole("Employee"))
{
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImageFile)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ImageName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>

<p>
    <a asp-action="Create">Skapa ny tjänst</a>
</p>
}
